<!doctype html>
{% load static from staticfiles %}
<html lang="en">
<head>
	<meta charset="utf-8">
</head>

<body>
	<img src="{% static "image0.jpg" %}" alt="0">
	<img src="{% static "image1.jpg" %}" alt="1">
	<img src="{% static "image2.jpg" %}" alt="2">
	<img src="{% static "image3.jpg" %}" alt="3">
	<img src="{% static "image4.jpg" %}" alt="4">
	<img src="{% static "image5.jpg" %}" alt="5">
	<img src="{% static "image6.jpg" %}" alt="6">
	<img src="{% static "image7.jpg" %}" alt="7">
	<img src="{% static "image8.jpg" %}" alt="8">
	<img src="{% static "image9.jpg" %}" alt="9">
</body>
</html>
